{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}

{% block content %}
     <nav class="navbar expand-sm bg-success">
         <div class="container-fluid ">
             <div class="navbar-header">
                 <h1 class="ms-3 my-2 text-white">Places Remember</h1>
             </div>
             <button class="btn-lg btn-outline-dark">
               <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'social:begin' 'facebook' %}"> Login with Facebook &sol;</a></li>
                <li class="nav-item">
                    <li><a class="nav-link" href="#">VK</a></li>
               </ul>
             </button>
         </div>
     </nav>
{% endblock %}